@Weave(Session.class)
public final class SessionTracing {

    @Shadow private Ledger ledger;

    @Inject(method = "close()", at = @At(Point.HEAD))
    void onClose() {
        Tracer.end(this.ledger);
    }
}
